<div class="card container" style="width: 500px;">
  <div class="card-section centered">
    <h3 class="header">Have a reptile or </br> amphibian you love?</h3>
    <h4>Want to be consistent with their care so they can live a long, happy life?</h4>
    <p class="homepage-subheader">You came to the right place.</p>
    <button class="button"><%= link_to 'Sign Up', new_user_registration_path %></button>
    <p>Already have an account? Welcome back.</p> 
    <button class="button"><%= link_to 'Log In', new_user_session_path %></button>
  </div>
</div>
